<div class="container bg-light" style="min-height: 600px !important;" >
    <div class="row"  *ngIf="emps">
      <div class="col-4" *ngFor="let emp of emps">
        <div class="card text-black mb-3 d-block" style="cursor: pointer;" [highlight]="emp" >
          <div class="card-header" height="70">{{emp.fname}} {{emp.lname}}
            <button type="button" class="close float-right" aria-label="Close" (click)="Deleteemp(emp.id)">
              <span aria-hidden="true">&times;</span>
            </button>
            <button type="button" class="btn btn-default btn-sm float-right" (click)="Editemp(emp.id)" >
              <span class="glyphicon">&#x270f;</span> 
            </button>
          </div>
          <div class="card-body"  (click)="viewemp(emp.id)">
            <div class="row">
            <div class="col-3">
              <img  src="/assets/Images/male.png" class="mt-2 mb-2" *ngIf="emp.gender == 'male'" width="50" height="50" >
              <img  src="/assets/Images/female.png" class="mt-2 mb-2" *ngIf="emp.gender == 'female'" width="50" height="50"  >
            </div>
          <div class="col-8 offset-1" >
            <p class="card-text"><span class="font-weight-bolder">Role</span> {{emp.role}} <br> Employee is <span isactive >{{emp.isActive ? "Active" : "In active"}}</span></p>
          </div>
        </div>
          </div>
        </div>
       </div>
      </div>
    </div>

<!--bg-danger text-white-->