
<div class="col-lg-8 offset-lg-3" style="min-height: 600px !important;">
<form  [formGroup]="empform" novalidate (ngSubmit)="empsubmit()">
    <div class="form-group row" formGroupName="name" >
        <label  class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="firstname" 
          [ngClass] ="{
            'is-invalid':firstname.invalid && (firstname.dirty || firstname.touched),
            'is-valid':firstname.valid && (firstname.dirty || firstname.touched)
        }" 
          formControlName="firstname" placeholder="firstname" >
          <div class="invalid-feedback">
        <p><em>Enter first name.</em></p>
          </div>
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" 
            [ngClass] ="{
                'is-invalid':lastname.invalid && (lastname.dirty || lastname.touched),
                'is-valid':lastname.valid && (lastname.dirty || lastname.touched)
            }" 
            id="lastname"  formControlName="lastname" placeholder="lastname" >
            <div class="invalid-feedback">
                <p><em>Enter last name.</em></p>
              </div>
          </div>
      </div>
      <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-3">
          <input type="radio" formControlName="gender" value="male"><span class="ml-2">Male</span> 
           </div>
           <div class="col-sm-3">
            <input type="radio" formControlName="gender" value="female"><span class="ml-2">Female</span>
        </div>
        </div>
    <div class="form-group row">
        <label for="empemail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-6">
          <input type="email" class="form-control"
          [ngClass] ="{
              'is-invalid':email.invalid && (email.dirty || email.touched),
              'is-valid':email.valid && (email.dirty || email.touched)
          }"  id="empemail" formControlName="email"  >
          <div class="invalid-feedback">
            <p *ngIf="email.errors && email.errors.required" > <em>Enter email id. </em></p>
            <p *ngIf="email.errors && email.errors.email" > <em>email id is not proper.</em> </p>
           </div>
        </div>
      </div>
    <div class="form-group row">
      <label for="db" class="col-sm-2 col-form-label">DOB</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="db" 
        [ngClass] ="{
            'is-invalid':dateofbirth.invalid && (dateofbirth.dirty || dateofbirth.touched),
            'is-valid':dateofbirth.valid && (dateofbirth.dirty || dateofbirth.touched)
        }"
        formControlName="dateofbirth" placeholder="dd/mm/yyyy" >
        <div class="invalid-feedback">
            <p *ngIf="dateofbirth.errors && dateofbirth.errors.required" ><em> enter the date of birth.</em> </p>
            <p *ngIf="dateofbirth.errors && dateofbirth.errors.pattern" > <em>data of birth is not proper.</em> </p>
           </div>
      </div>
    </div>
    <div class="form-group row">
        <label for="role" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-6">
        <select class="form-control" formControlName="role">
          <option *ngFor="let role of roleList" [value]="role">{{role}}</option>
        </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="manager" class="col-sm-2 col-form-label">Manager</label>
        <div class="col-sm-6">
       <select class="form-control" formControlName="manager">
         <option value="admin">Admin</option>
         <option *ngFor="let emp of empList" [value]="emp.id" >{{emp.fname}} {{emp.lname}}</option>
       </select>
        </div>
      </div>
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-primary">{{submit}}</button>
        <button class="ml-3 btn btn-primary">reset</button>
      </div>
    </div>
  </form>
</div>



